@model IEnumerable<Revolutionary.Models.ClassRegister>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Staff"))
    {
    <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Staff"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    Session
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    Status
                </th>
                <th>Action</th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Staff"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
            }
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Status)
                </td>
                @if (User.IsInRole("Staff"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
