@model IEnumerable<Revolutionary.Models.Mark>

@{
    ViewData["Title"] = "Index";
}

<h1>List Marks</h1>

<p>
    @if (User.IsInRole("Staff"))
    {
        <a asp-action="Create">Create New</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            @if (User.IsInRole("Staff"))
            {
                <th></th>
            }
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Theory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Id)
            </td>
            @if (User.IsInRole("Staff"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }
            </tr>
}
    </tbody>
</table>
