@model IEnumerable<Revolutionary.Models.Mark>

@{
    ViewData["Title"] = "Index";
}

<h1>List Marks</h1>

<p>
    @if (User.IsInRole("Staff"))
    {
        <a asp-action="Create">Create New</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Staff"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
            }
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Practical)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Penalty)
                </th>
                <th>
                    Total
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                @if (User.IsInRole("Staff"))
                {
                    <th>Action</th>
                }
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Staff"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
            }
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Theory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Practical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Penalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignment + item.Theory + item.Practical - item.Penalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (User.IsInRole("Staff"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
